{% extends "base.html" %}
{% block title %}
422 - Unprocessable Entity
{% endblock %}


{% block style %}
<link rel="stylesheet" href="../static/css/404.css">


{% endblock %}

{% block content %}

<main class="error-container">
    <div class="error-code">
        <div class="error-digit">4</div>
        <div class="error-digit">2</div>
        <div class="error-digit">2</div>
    </div>

    <h1 class="error-title">422 - Unprocessable Entity</h1>
    <p class="error-message">{{ message }}</p>



    <div class="cta-buttons">
        <a href="{{ url_for('home')}}" class="btn">Back to home page</a>
        <a href="mailto:contact@pytogo.org" class="secondary-btn">Contact us</a>
    </div>
</main>
<section class="page-content" id="program"></section>


{% endblock %}