{% extends "base.html" %}
{% block title %}
500 - Internal Server Error

{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/css/404.css">


{% endblock %}

{% block content %}

<main class="error-container">
    <div class="error-code">
        <div class="error-digit">5</div>
        <img src="../static/images/logo.png" alt="PyCon Togo Logo" class="error-logo">
        <div class="error-digit">0</div>
    </div>

    <h1 class="error-title">Server Error </h1>
    <p class="error-message">{{ message }}</p>


    <div class="cta-buttons">
        <a href="{{ url_for('home')}}" class="btn">Back to home page</a>
        <a href="mailto:contact@pytogo.org" class="secondary-btn">Contact us</a>
    </div>
</main>
<section class="page-content" id="program"></section>


{% endblock %}